* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App position */
.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



/* time select sound picker and player container position */
.time-select, .sound-picker, .player-container {
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* Player container */
.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}

.player-container {
  position: relative;
}


/* .time-select {
  background: lightblue;
}

.sound-picker {
  background: lightgreen;
}

.player-container {
  background: lightcoral;
} */

/* Time display position */
.time-display {
  position: absolute;
  bottom: 1%;
  color: rgb(255, 217, 0);
  font-size: 4rem;
  box-shadow: 10px 10px;
  /* border: 3px solid white; */
  padding: .5rem 2rem;
  border-radius: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


/* video container background image and position */
.video-container {
  /* display: none; */
  position: fixed;
  top: 0%;
  left: 0%; 
  width: 100%;
  z-index: -10;
}


/* Width of video */
video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}



/* time select attributes */
.time-select button, .sound-picker button {
  color: gold;
  width: 30%;
  height: 10%;
  background: none;
  border: 2px solid white;
  border-radius: 4rem;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s ease;
  outline: none;
}

/* time select hover */
.time-select button:hover {
  color: black;
  background: rgba(255, 255, 255, 0.199);
}

/* Sound picker button */
.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 30px;
}


/* Sound picker background color */
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14949;
}

.sound-picker button img {
  height: 100%;
}


img .beach {
  display: none;
  width: 100%;
}
